<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <span class="help-block">leave blank if you don't want to change it</span>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          <span class="help-block">we need your current password to confirm your changes</span>
        </div>

        <%= f.submit "Update", class: 'btn btn-primary' %>
    <% end %>

    <h3>Cancel my account</h3>

    <p>
      Unhappy?
      <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger',
                    data: { confirm: "Are you sure?" }, method: :delete %>
    </p>

    <%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="col-xs-4"></div>
</div>

