<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <% if @validatable %>
              <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <%= f.submit "Sign up", class: 'btn btn-primary' %>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="col-xs-4"></div>
</div>
