<%= form_for(@movie, html:{class: 'form'}) do |f| %>



    <div class="form-group <%= (@movie.errors.include?(:title))? 'has-error':'' %>">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
      <% if @movie.errors.include?(:title) %>
          <% title_errors = @movie.errors[:title] %>
          <div class="alert alert-danger " style="margin-top: 5px;">
            <ul>
              <% if title_errors.kind_of?(Array) %>
                  <% title_errors.each do |error| %>
                      <li><%= error%></li>
                  <% end %>
              <% else %>
                  <% error = title_errors %>
                  <li><%= error%></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="form-group <%= (@movie.errors.include?(:description))? 'has-error':'' %>">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control', cols: '30', rows: '4' %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

<% end %>