<div class="row">
  <div class="col-xs-11">
    Order:
    <%= link_to 'Likes', {controller: 'movies', order: 'by_likes'}, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Hates ', {controller: 'movies', order: 'by_hates'}, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Date', {controller: 'movies', order: 'by_date'}, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Title', {controller: 'movies', order: 'by_title'}, class: 'btn btn-success btn-sm' %>
  </div>
  <% if user_signed_in? %>
      <div class="col-xs-1">
        <%= link_to 'New movie', new_movie_path, class: 'btn btn-success btn-sm pull-right' %>
      </div>
  <% end %>
</div>

<div class="row" style="margin-top: 10px">
  <div class="col-xs-12">
    <% @movies.each do |movie| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h1><%= movie.title %></h1>
            <h6 class="small">Posted by
              <%= link_to controller: 'movies', filter: 'by_user', userid: movie.user_id do %>
                  <% if user_signed_in? && current_user.id == movie.user_id %>
                      You
                  <% else %>
                      <%= movie.user_name %>
                  <% end %>
              <% end %>
              <%= time_ago_in_words(movie.created_at) %> ago
              <% if user_signed_in? && current_user.id == movie.user_id %>
                  <%= link_to movie_path(movie), title: 'Show' do %><i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                  <%= link_to edit_movie_path(movie), title: 'Edit' do %><i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                  <%= link_to movie_path(movie), title: 'Delete',
                              method: :delete,
                              data: {confirm: 'Are you sure?'} do %><i class="glyphicon glyphicon-trash"></i>
                  <% end %>
              <% end %>
            </h6>
            <p>
              <%= movie.description %>
            </p>
          </div>
          <div class="panel-footer">
            <%= (user_signed_in? && current_user.id != movie.user_id && movie.likes == 0 && movie.hates == 0) ? 'Be the first to vote for this movie: ' : '' %>
            <%= movie.likes %>
            <% if user_signed_in? && current_user.id != movie.user_id %>
                <%= link_to like_movie_path(movie), title: 'Like' do %>
                    <i class="glyphicon glyphicon-thumbs-up  <%= (@votes[movie.title]['likes'].has_key?(current_user.id)) ? 'text-primary' : 'text-muted' %>"></i>
                <% end %>
            <% else %>
                <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
            |
            <%= movie.hates %>
            <% if user_signed_in? && current_user.id != movie.user_id %>
                <%= link_to hate_movie_path(movie), title: 'Hate' do %>
                    <i id="thumbs-down" class="glyphicon glyphicon-thumbs-down <%= (@votes[movie.title]['hates'].has_key?(current_user.id)) ? 'text-primary' : 'text-muted' %>"></i>
                <% end %>
            <% else %>
                <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>