<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <h1>New Movie</h1>

    <%= render 'form' %>

    <%= link_to 'Back', movies_path, class: 'btn btn-default' %>
    </div>
  <div class="col-xs-2"></div>
</div>