<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <%= f.submit "Change my password", class: 'btn btn-primary' %>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="col-xs-4"></div>
</div>