<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="col-xs-4"></div>
</div>