<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end -%>

        <%= f.submit "Log in", class: 'btn btn-primary' %>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Back", :back, class: 'btn btn-default btn-sm' %>
  </div>
  <div class="col-xs-4"></div>
</div>
