<!DOCTYPE html>
<html lang="en">
<head>
  <title>MovieRama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="blog-masthead">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header"><%= link_to 'MovieRama', movies_path, class: 'navbar-brand' %></div>
        <% if user_signed_in? %>
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= current_user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
        <% else %>
            <div class="navbar-right">
              <%= link_to 'Log In', new_user_session_path, class: 'btn btn-default navbar-btn btn-sm' %>
               Or
              <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary navbar-btn btn-xl' %>
            </div>
        <% end %>
      </div>
    </nav>
  </div>
</div>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
      <% end -%>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <%= yield %>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

</body>
</html>
